.img{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://www.indezine.com/powerpoint/freetemplate/templates/t_ind_1787a.jpg");
    background-position: center;
    background-size: cover; 
    position: absolute;
}